
<form id="main_form" enctype="multipart/form-data" method="post" action="/">

    <p>
        Please, upload CSV file with products
    </p>
    <input name="uploaded_csv_file" type="file" />
    <input id="upload_csv" name="upload_file" type="submit" value="Upload" />

</form>